.latexDisplay{
    background-color: black;
    width: 85%;
    height: 25%;
    color: black;
    font-size: 270%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid white 3px;;
    margin: 15px;
}