.sidebar {
  width: 20%;
  min-height: 100vh;
  background: #222;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  padding-left: 0rem;
  box-sizing: border-box;
}

.sidebar-btn {
  background: #222;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  border-radius: 4px;
  transition: background 0.2s;
}

.sidebar-btn.active,
.sidebar-btn:hover {
  background: #444;
}